.scroll-container {
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: hidden;
  .article {
    list-style: none;
    span {
      opacity: 0.3;
      font-weight: lighter;
    }
    .article__link {
      text-decoration: none;
      color: white;
    }
  }
}
