.scroll-container {
  width: 250px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: hidden;
  .article {
    list-style: none;
    .article__link {
      text-decoration: none;
      color: white;
    }
  }
}
