.music {
  display: flex;
  flex-direction: row;
  color: white;
  width: 800px;
  text-align: center;
  align-items: center;
  gap: 2rem;
  .music__image-title {
    display: flex;
    flex-direction: column;
  }
  .music__player {
    display: flex;
    flex-direction: column;
    .music_button {
      font-size: 45px;
      color: white;
      background-color: transparent;
      border: none;
    }
    .music__slider {
      display: flex;
      align-items: center;
      gap: 1rem;
      .music_slider-input {
        -webkit-appearance: none;
        background-color: lightgray;
        border-radius: 25px;
        height: 15px;
        width: 100%;
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 20px;
          height: 20px;
          background: gray;
          cursor: pointer;
          border-radius: 25px;
        }
      }
    }
  }
}
