.weather {
  display: flex;
  width: 250px;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
  gap: 0.2rem;
  font-size: 15px;
  .weather__image {
    width: 100px;
    scale: 0.999;
  }
  .weather__item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
